アカウントの作成に失敗しました．<br>
または，<span class="letter_color2">パスワード</span>の更新に失敗しました．<br>
新しい<span class="letter_color2">パスワード</span>の入力と
新しい<span class="letter_color2">パスワード</span>（確認用）が一致しませんでした．<br>

<hr width="600" size="3" noshade>

<table align="left">
    <tr>
        <td><a href="/login">ログイン画面に戻る</a></td>
    </tr>
    <tr>
        <td><a href="/createaccount">アカウントを作成する</a></td>
    </tr>
    <tr>
        <td><a href="/forgetpass">パスワードを忘れた場合</a></td>
    </tr>
</table>