アカウントの作成に失敗しました．<br>
<span class="letter_color1">ユーザー名</span>が既に存在しています．<br>

<hr width="600" size="3" noshade>

<table align="left">
    <tr>
        <td><a href="/login">ログイン画面に戻る</a></td>
    </tr>
    <tr>
        <td><a href="/createaccount">アカウントを作成する</a></td>
    </tr>
</table>