<h2><span class="letter_color1"><%= @user %></span>さん</h2>
コンテンツページ１です．<br>
初めに，以下のリンクからユーザーマニュアルをお読みください．<br>
<a href="/usersmanual">ユーザーマニュアル</a>

<hr width="600" size="3" noshade>

<table align="center">
    <tr>
        <td>推定TOIECスコア</td>
    </tr>
    <form action="/contentspage2" method="post">
        <tr>
            <td>：600 点 レベル：</td>
            <td><button class="btn btn-primary" type="submit" name="Level" value="600">Start</button></td>
        </tr>
    </form>

    <form action="/contentspage2" method="post">
        <tr>
            <td>：730 点 レベル：</td>
            <td><button class="btn btn-primary" type="submit" name="Level" value="730">Start</button></td>
        </tr>
    </form>

    <form action="/contentspage2" method="post">
        <tr>
            <td>：860 点 レベル：</td>
            <td><button class="btn btn-primary" type="submit" name="Level" value="860">Start</button></td>
        </tr>
    </form>

    <form action="/contentspage2" method="post">
        <tr>
            <td>：990 点 レベル：</td>
            <td><button class="btn btn-primary" type="submit" name="Level" value="990">Start</button></td>
        </tr>
    </form>
</table>

<hr width="600" size="3" noshade>

<table align="left">
    <tr>
        <td>
            <a href="/mainpage">メインページに戻る</a>
            <br>
            <a href="/logout">ログアウト</a>
        </td>
    </tr>
</table>