<table align="center">
    <tr>
        <td>
            <h1><span class="letter_color1"><%= @user %></span>さん<h1>
        </td>
    </tr>
</table>
<table align="center">
    <tr>
        <td>
            <h3>単語帳アプリを使っていただき，ありがとうございます！</h3>
        </td>
    </tr>
</table>

<hr width="600" size="3" noshade>

<table align="center">
    <tr>
        <td>あなたは<%= $question_count %>問中，<%= $true_count %>問正解しました！</td>
    </tr>
</table>

<hr width="600" size="3" noshade>

<table align="left">
    <tr>
        <td>
            <a href="/contentspage1">コンテンツページ１へ</a><br>
            <a href="/mainpage">メインページへ</a><br>
            <a href="/logout">ログアウト</a>
        </td>
    </tr>
</table>