<h2>こんにちは<span class="letter_color1"><%= @user %></span>さん</h2>
ユーザーマニュアルページです.

<hr width="600" size="3" noshade>

<h3><span class="letter_color1">概要</span></h3>
本webアプリは，日本語訳に合わせて英単語を穴埋めする単語帳です．
難易度が設定されており，１つの難易度につき２５問用意してあります．
ですが，出題される問題はそのうちの５問です．
２５問のうち，ランダムで５問出題されることになります．

<h3><span class="letter_color1">Webアプリの遊び方</span></h3>
１．初めに難易度を選択してください．難易度は計４種類あり，それぞれTOIECのスコアを目安に問題が出題されます．<br><br>

２．Startボタンを押すと，選択した難易度の中から問題が出題されます．
同時に書き込み欄とJudgeボタンが表示されます．<br><br>

３．書き込み欄に日本語に合わせた英単語を
<span class="letter_color3">小文字で入力</span>してください．<br><br>

４．Judgeボタンを押すと，解答が表示されます．<br><br>

５．５問解き終えると，終了になります．<br><br>

<h2><span class="letter_color3">※注意事項</span></h2>
<h3>・英単語を入力する際は，以下のことをお守りください．
    守らなかった場合，正しいスペルを入力していても
    <span class="letter_color3">誤答</span>と判定されます．<br><br>
    １．<span class="letter_color3">小文字で入力</span>をお願いいたします．<br><br>
    ２．<span class="letter_color3">スペースを開けずに入力</span>をお願いいたします．<br><br>

    ・問題は<span class="letter_color3">ランダム</span>で出題されるため，
    同じ問題が出題される可能性があります．ご承知おきください．<br><br>

    ・本アプリは以下の書籍を基にしています．<br>
    TEX加藤．TOEIC L&R TEST 出る単特急 金のフレーズ．朝日新聞，2021<br><br>
    <h3>

        <hr width="600" size="3" noshade>

        <table align="left">
            <tr>
                <td><a href="/contentspage1">コンテンツページ１に戻る</a></td>
            </tr>
        </table>