<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <%# Bootstrap CSS %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>APP</title>

  <style type="text/css">
    body {
      margin: 0px;
      padding: 0px;
      text-align: center;
      background-color: #777777;
    }

    #main {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      width: 600px;
    }

    .letter_color1

    /*薄緑に設定したい文字 */
      {
      color: #93FFAB
        /*薄緑*/
    }

    .letter_color2

    /*薄青に設定したい文字*/
      {
      color: #BBFFFF
        /*薄青*/
    }

    .letter_color3

    /*オレンジに設定したい文字*/
      {
      color: #FFA500
        /*オレンジ*/
    }

    a {
      /*元となるリンクのスタイル*/
      font-weight: bold;
      text-decoration: none;
    }

    a:link

    /*アクセスしたことのないリンク*/
      {
      color: #FFFFFF;
      /*白*/
    }

    a:visited

    /*アクセスしたことのあるリンク*/
      {
      color: #00ffff;
      /*シアン*/
    }

    a:hover

    /*マウスが上に乗っている状態*/
      {
      color: #ffc0cb;
      /*ピンク*/
      text-decoration: underline;
    }

    a:active

    /*クリック中*/
      {
      color: #00fa9a;
      /*エメラルドグリーン*/
    }
  </style>
</head>

<body>
  <div id="main">

    <font color=white>

      <center>
        <h1>
          <font size="7" color="#FFFF11"> APP </font>
        </h1>
      </center>

      <hr width="600" size="3" noshade>

      <%= yield %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
      </script>

</body>

</html>