<div class="text-center container overflow-hidden">
    <div class="row row-cols-lg-1 gy-3 g-1">
        <form action="/privatebbs" method="post">
            <div class="p-3 border bg-light">電子掲示板　<input class="btn btn-primary" type="submit" value="Start BBS">
            </div>
        </form>

        <form action="/contentspage1" method="post">
            <div class="p-3 border bg-light">単語帳アプリ　<input class="btn btn-primary" type="submit" value="Start Word App">
            </div>
        </form>
    </div>
</div>

<hr width="600" size="3" noshade>

<a href="/logout">ログアウト</a>