<div class="text-center container overflow-hidden">
    <div class="row row-cols-lg-1 gy-3 g-1">
        <div class="p-3 border bg-light">Creator：TAIKI YUASA</div>
        <div class="p-3 border bg-light">Birth Place：Nagano</div>
        <%# <div class="p-3 border bg-light">Birthday：2001.8.31</div> %>
        <br>
        <div class="p-3 border bg-light">参考にさせていただいたサイト<br>
            <a href="https://webdesignday.jp/">
                <font size="3">INSPIRATION - Web デザイン</font>
            </a>
            <br>
            <a href="https://coco-factory.jp/ugokuweb/">
                <font size="3">動くWebデザインアイディア帳 - Coco-Factory</font>
            </a>
            <%# <ul>
                <li><a href="https://webdesignday.jp/">
                        <font size="3">INSPIRATION - Web デザイン</font>
                    </a>
                </li>
            </ul> %>
        </div>
    </div>
</div>

<hr width="600" size="3" noshade>

<a href="/logout">ログアウト</a>