<span class="letter_color2">パスワード</span>の更新に失敗しました.<br>
入力した<span class="letter_color1">ユーザ名</span>が見つかりませんでした.<br>

<hr width="600" size="3" noshade>

<table align="left">
    <tr>
        <td><a href="/login">ログイン画面に戻る</a></td>
    </tr>
    <tr>
        <td><a href="/forgetpass">パスワードを忘れた場合</a></td>
    </tr>
</table>